---
import Section from "./Section.astro";
---

<Section>
    <div class="switchContainer">
        <label class="switch">
            <input type="checkbox" id="switcher" />
            <span class="slider"></span>
        </label>
    </div>
</Section>

<script>
    const toggleBtn = document.querySelector("#switcher");
    toggleBtn?.addEventListener("click", toggleDarkMode);

    function toggleDarkMode() {
        let isDark = document.body.classList.toggle("dark-mode");
        localStorage.setItem("darkMode", isDark ? "enabled" : "disabled");
    }
</script>

<style>
    .switchContainer {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    /* The switch - the box around the slider */
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        border: 2px solid #414141;
        border-radius: 50px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        left: 0.2em;
        bottom: 0.2em;
        background-color: light-dark(#1b2223, #0ef6cc);
        border-radius: inherit;
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .switch input:checked + .slider {
        box-shadow: 0 0 20px rgba(14, 246, 204, 0.8);
        border: 2px solid #0ef6cc;
    }

    .switch input:checked + .slider:before {
        transform: translateX(1.5em);
    }
</style>
