---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="description"
            content="Kelvin Guerrero - Desarrollador Web especializado en JavaScript, HTML y CSS. Encuentra aquí mi curriculum y proyectos."
        />
        <meta
            name="keywords"
            content="Kelvin Guerrero, desarrollador web, JavaScript, HTML, CSS, curriculum, proyectos"
        />
        <meta name="author" content="Kelvin Guerrero" />
        <meta
            property="og:title"
            content="Kelvin Guerrero - Desarrollador Web"
        />
        <meta
            property="og:description"
            content="¡Hola! Soy Kelvin Guerrero, un apasionado desarrollador web especializado en JavaScript, HTML y CSS. Aquí encontrarás mi curriculum y proyectos."
        />
        <meta property="og:image" content="/portada.png" />
        <meta property="og:url" content="https://cv.kelvinguerrero.dev" />
        <meta property="og:type" content="website" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<script>
    // On page load
    document.addEventListener("DOMContentLoaded", (event) => {
        if (localStorage.getItem("darkMode") === "enabled") {
            document.body.classList.add("dark-mode");
        }
    });
</script>
<style is:global>
    :root {
        --background-color-light: #fef4f4;
        --text-color-light: #1b2223;
        --background-color-dark: #1b2223;
        --text-color-dark: #ffffff;
        --text-label-light: #666;
        --text-company-light: #111;
        --text-company-dark: #fffff0;
        --text-position-light: #222;
        --text-time-light: #666;
        --text-silver: #c0c0c0;
        --background-article-light: #fbfbfb;
        --background-article-dark: #3a4f50;
        --text-description-light: #555;
        color-scheme: light dark;
    }
    .dark-mode {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
        h1 {
            color: var(--text-color-dark) !important;
        }
        .info h2 {
            color: var(--text-silver) !important;
        }
        .info span {
            color: var(--text-silver) !important;
        }
        .info footer.no-print a {
            background-color: var(--background-color-dark);
            color: var(--text-color-dark);
        }
        .info footer.no-print a:hover {
            background-color: var(--background-color-light);
            color: var(--text-color-light);
        }
        h2 {
            color: var(--text-color-dark) !important;
        }
        .about {
            color: var(--text-color-dark) !important;
        }

        .companyInfo h3 {
            color: var(--text-company-dark) !important;
        }
        .companyInfo h4 {
            color: var(--text-silver) !important;
        }
        .task {
            color: var(--text-silver) !important;
        }
        time {
            color: var(--text-silver) !important;
        }
        .project {
            background: var(--background-article-dark) !important;
            color: var(--text-color-dark) !important;
        }
        .projectTitle a {
            color: var(--text-color-dark) !important;
        }
        .projectDescription {
            color: var(--text-silver) !important;
        }
    }
    html {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            "Courier New",
            monospace;
        background-color: var(--background-color-light);
        letter-spacing: -0.025rem;
    }

    body,
    figure {
        margin: 0;
        padding: 0;
        transition: all 0.5s ease;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
    }

    p {
        color: var(--text-color-light);
        font-size: 0.9rem;
        line-height: 1.5;
        margin: 0;
        text-wrap: pretty;
    }

    /* @media (prefer-color-scheme: dark) {
		.html {
			background: #2e2828;
		}
		p {
			color: #fef4f4;
		}
	} */
</style>
